body{
    background-color: antiquewhite;
    font-family: 'Limelight', cursive;
    color: blue;
}
img{
    width: 20%;
}

table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;

}